<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyTube Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://cdn.jsdeliver.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>
<body>
    <div class="page-container">
        <header class="page-header panel glass-container">
            <a class="page-header__brand" href="/">
                <i class="bi-youtube"></i> PyTube Downloader
            </a>
            <form class="url-form">
                <label for="url-input" class="hidden">Youtube Video Url</label>
                <div class="url-form__input-group glass-container">
                    <i class="bi-link-45deg input-group__icon"></i>
                    <input id="url-input" name="url" type="text" placeholder="Paste Youtube URL" class="url-form__input">
                </div>
                <button type="submit" class="url-form__button button button--secondary">
                    <i class="bi-search"></i> <span>Search</span>
                </button>
            </form>
        </header>

        {% if video %}
        <main class="page-content panel glass-container">
            <article class="video-card">
                <section class="video-card__thumbnail">
                    <img src="{{ video.thumbnail_url }}"
                         onerror="this.src='https://placehold.co/400x225/cccccc/ffffff?text=Error';"
                         alt="Video Thumbnail" class="video-thumbnail">
                </section>
                <section class="video-card__body">
                    <h2>{{ video.title }}</h2>
                    <div class="video-card__actions" id="video-card-actions">
                        <div class="video-card__streams-dropdown dropdown-menu">
                            <button class="dropdown-menu__button button video-card__actions-button" id="streams-dropdown-button">
                                <i class="bi-gear-fill"></i>
                                <span id="dropdown-button-text">Select Format</span>
                            </button>
                            <div class="dropdown-menu__body hidden" id="streams-dropdown-body">
                                <div class="dropdown-menu__tabs" id="streams-tab-selector">
                                    <button class="dropdown-menu__tab-button button active" data-target="video-pane">Video</button>
                                    <button class="dropdown-menu__tab-button button" data-target="audio-pane">Audio</button>
                                </div>
                                <div class="dropdown-menu__pane" id="streams-dropdown-pane">
                                    <div class="dropdown-menu__pane-content" id="video-pane">
                                        <ul>
                                            {% for stream in video.streams.video | reverse %}
                                            <li>
                                                <button class="button" data-video-stream-id="{{ stream.id }}" data-audio-stream-id="{{ stream.audio_stream_id }}" data-stream-type="video">
                                                    <i class="bi-camera-reels-fill"></i>
                                                    {{ stream.resolution }}p{% if stream.fps != 30 and stream.fps != 24 %}{{ stream.fps }}{% endif %} ({{ stream.ext }}) - <span>{{ (stream.filesize / (1024 * 1024)) | round(2) }} MB</span></button>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="dropdown-menu__pane-content hidden" id="audio-pane">
                                        <ul>
                                            {% for stream in video.streams.audio | reverse %}
                                            <li>
                                                <button class="button" data-audio-stream-id="{{ stream.id }}"><i class="bi bi-music-note-beamed me-2 text-white-50"></i>{{ stream.abr }}kbps ({{ stream.ext }}) - <span>{{ (stream.filesize / (1024 * 1024)) | round(2) }} MB</span></button>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button class="button button--secondary video-card__actions-button  video-card__actions-button--confirm " id="confirm-download" disabled>
                            <i class="bi-check-circle-fill"></i>
                            Confirm Download
                        </button>
                    </div>
                    <div class="hidden video-card__progress-bar" id="progress-bar-body">
                        <div class="progress-bar__fill" id="progress-bar-fill"></div>
                    </div>
                </section>
            </article>
        </main>
        {% endif %}
    </div>
</body>
</html>